/*Color set*/
:root {
    --point-color : #f74c25;
    --background-color: #f7f6f2;
}

.top {
    width: 100%;
    height: 50px;
    position: sticky;
    /*always stick in the same place, position*/
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    z-index: 999;
    background-color: #eed4af;
    border-bottom: var(--point-color) solid 1px;
    
}

.topLeft, .topRight {
    flex: 3;
    /*have 3 units*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*cetner in the 3 units*/
}

.topCenter {
    flex: 6;
    height: inherit;
    border-left: var(--point-color) solid 1px;
    border-right: var(--point-color) solid 1px;
    /*has 6 units*/
}

.topIcon {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--point-color);
}

.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: corver;
    cursor: pointer;
}

.topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--point-color);
    /*remove the small point*/
}

.topListItem {
    flex: 1;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.link:hover{
    font-weight: 500;
}

.topSearchIcon {
    font-size: 18px;
    color: var(--point-color);
    cursor: pointer;
    margin-left: 15px;
    
}

#loginBtn{
    margin-right: 20px;
}