.singlePost{
    flex: 9;
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}

.singlePostImg{
    width: 100%;
    height: auto;
    border-radius: 3px;
    object-fit: cover;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.singlePostEdit{
    float: right;
    font-size: 16px;
}

.singlePostIcon{
    cursor: pointer;
}

#singlePostIcon2{
    margin-left: 10px;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
