/*Color set*/
:root {
    --point-color: #f74c25;
    --background-color: #f7f6f2;
    --topbar-background-color: #eed4af;
    --key-font: 'Tiro Bangla', serif;
    --main-font: 'Roboto', sans-serif;
}

.sidebar {
    flex: 3;
    margin: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle {
    margin: 10px;
    padding: 5px;
    font-family: 'Tiro Bangla', serif;
    font-size: 15px;
    color: var(--point-color);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    border-top: var(--point-color) solid 1px;
    border-bottom: var(--point-color) solid 1px;
}

.sidebarItem>img {
    border-radius: 100px;
    margin-top: 15px;
    width: 200px;
    height: auto;
    object-fit: cover;
}

.sidebarItem>p {
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--point-color);

}

.sidebarList {
    padding-top: 15px;
    margin-left: -25px;
    margin-right: 10px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    margin-bottom: 25px;
}

.sidebarListItem {
    text-align: center;
    justify-content: center;
    padding: 4px 6px 4px 6px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    border: var(--point-color) solid 1px;
    color: var(--point-color);
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.sidebarListItem:hover {
    background-color: var(--point-color);
    color: var(--background-color);
  }

.sidebarSocial {
    color: var(--point-color);
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebarIcon {
    font-size: 16px;
    cursor: pointer;
}

#sidebarIcon2, #sidebarIcon3 {
    margin-left: 10px;
}

a{
    color: #f74c25;
}